@model APIASPDOTNETMSSQLServer.Models.ErrorViewModel

<h1 class="text-danger">Error.</h1>
<p class="text-danger">An error occurred while processing your request.</p>

@if (Model?.ShowRequestId ?? false)
{
    <p>Request ID: <code>@Model.RequestId</code></p>
}